#submit{
    background-color: black;
    color: white;
    border-radius: 8px;
    width: 100px;
    height: 50px;
    margin: 20px;
    text-align: center;
}

#header{
    color: black;
    text-align: center;
}

.voornaam{
    text-align: center;
}

.achternaam{
    text-align: center;
}

.e-mail{
    text-align: center;

}

.website{
    text-align: center;
}

.opmerking{
    text-align: center;
}